---
layout: layouts/sablona-hlavni.njk
title: KojoRady - laktační poradenství, pomoc při kojení
description: Jsme dvě certifikované laktační poradkyně o. z. MAMILA a pod společným projektem KojoRady se vám budeme věnovat před porodem i po porodu.
og-description: Rády se vám budeme věnovat před porodem i po porodu.
---

<body class="pink">

{% include 'partials/menu.njk' %}

<div class="content ">

        <div class="logo logo--large">
            <img class="logo__image" src="/images/logo.png" alt="logo Kojorady: sdílej a sleduj, kojení miluj">
        </div>
        <h1 class="title">Reálná pomoc ženám při kojení</h1>
</div>

{% include 'partials/footer.njk' %}

</body>
