---
layout: layouts/sablona-hlavni.njk
title: KojoRady - o projektu
description: Kojorady jsou společným projektem certifikovaných laktačních poradkyň o.z. Mamila Andrey Sirko a Petry Topinkové, sloužícím k osvětě kojení.
og-description: Kojorady jsou společným projektem certifikovaných laktačních poradkyň o.z. Mamila.
---

<body>
    {% include 'partials/menu.njk' %}

<div class="content">
    <h1 class="title">O projektu</h1>

    <div class="logo">
        <img class="logo__image" src="/images/logo.png" alt="logo Kojorady: sdílej a sleduj, kojení miluj">
    </div>

    <p>
        Kojorady jsou naším společným projektem, projektem certifikovaných laktačních poradkyň <a class="link-inline" href="https://www.mamila.sk/sk/uvod/">o. z. MAMILA</a> Andrey Sirko a Petry Topinkové a má sloužit k osvětě a boření mýtů týkajících se kojení.
    </p>
    <p>
        Rády bychom pod tímto projektem společně pomáhaly ženám, ať už před porodem v rámci předporodních kurzů nebo v průběhu kojení na podpůrných skupinkách.
    </p>
    <p>    
        Také na sociálních sítích poskytujeme opravdové a podložené informace o kojení.
    </p>
    <p>
        Dále nás můžete najít nejen osobně v našich prostorách určených pro setkávání a podporu žen v centru <a class="link-inline" href="https://www.facebook.com/profile.php?id=100093193958476"> Spolu v Harmonii</a>, ale také na různých akcích, které pro vás tvoříme a připravujeme.
    </p>
    <p>
        Jde vlastně o projekt, který vzdělává a spojuje, takže sdílej a sleduj, kojení miluj.
    </p>
    <div class="instagram">
        <p class="highlight font-l">SLEDUJTE NÁS NA INSTAGRAMU</p>
        <div id="instagram-feed" class="instagram-feed">
    </div>

    </div>
</div>

{% include 'partials/footer.njk' %}

<script src="/javascript/script.js"></script>


</body>