---
layout: layouts/sablona-hlavni.njk
title: KojoRady - podpůrná skupina pro těhotné a kojící ženy
description: Na setkání můžete získat další informace o kojení, zeptat se na to, co vás zajímá, získat názory ostatních a podporu ostatních žen.
og-description: Přijďte si k nám do přátelského kruhu pro informace a podporu.
---


<body>

{% include 'partials/menu.njk' %}


<div class="content">

    <h1 class="title">Podpůrná skupina pro těhotné a kojící ženy</h1>

    <p>
        Jedná se o setkání více žen vč. dětí spolu s laktační poradkyní.
        Na setkání můžete získat další informace o kojení, 
        zeptat se na to, co vás zajímá, 
        získat názory ostatních 
        a podporu ostatních žen. 
    </p>
    <p>
        Toto vše vám může pomoci k úspěšnému a dlouhodobému kojení.
    </p>
    <p>
        Podpůrné skupiny se konají 2x měsíčně v Centru <a class="link-inline" href="https://www.facebook.com/profile.php?id=100093193958476"> Spolu v Harmonii</a>.
        Termíny naleznete na instagramu a facebooku. 
    </p>
    
</div>


{% include 'partials/footer.njk' %}



</body>
