---
layout: layouts/sablona-hlavni.njk
title: KojoRady - Předporodní příprava na kojení
description: Informace a znalosti ze skupinové předporodní přípravy vám pomohou se předem připravit, abyste po porodu věděla, co dělat.
og-description: Pomůžeme vám připravit se na porod i péči o dítě po porodu.
---

<body>

{% include 'partials/menu.njk' %}


<div class="content">
    <h1 class="title">Předporodní příprava žen na kojení</h1>
    <div class="section-part">
        <p>
            Čekáte své první miminko a chcete se již v těhotenství připravit na kojení? Nebylo kojení s předchozím miminkem ideální a teď byste se na období po porodu ráda připravila?
        </p>
        <p>
            Aktuálně vám pod projektem Kojorady nabízíme skupinové předporodní přípravy, kde se dozvíte mnoho teoretických, ale i praktických informací. Tyto znalosti vám pomohou se předem připravit abyste po porodu věděla, co dělat.
        </p>
        <p class="highlight">
            <span class="italic">"Byla to jedna z nejužitečnějších věcí, kterou jsem ještě před porodem jako prvorodička mohla pro sebe a pro miminko udělat. A určitě doporučuji všem."</span> Markéta Ch. 
        </p>
    </div>          

    <div class="section-part">
        <h2>
            O čem si budeme povídat:
        </h2>
        <p>
            O porodu a jeho vlivu na kojení, o mateřském mléku a normálnosti kojení, o prsech a bradavkách, o kontaktu a separaci, o marketingu a jeho vlivu na celou společnost.
        </p>
        <p>
            O tom, co vše se může dít po porodu, jak tomu předcházet a co v takových případech dělat.
        </p>
        <p>
            O správné poloze a přisátí miminka, které si samy vyzkoušíte a osvojíte, o množství vypitého mléka, o tom, jak vyhodnotit vydatnost pití, o podpoře během celého období kojení.
        </p>
        <p>
            Na kurzu budete mít možnost zakoupit nebo zapůjčit si knihu Praktický návod na kojení, která bude často zmiňována.
        </p>
        <p class="highlight">
            <span class="italic">"Super, fakt si připadám obohacená. Teď když doma čtu materiály ke kojení tak si říkám "joo, to jsme si říkaly, jooo to už vím"</span> Eliška H. 
        </p>
    </div>

    <div class="section-part">
        <h2>
            Jak to bude probíhat:
        </h2>
        <p>
            Po celou dobu bude k dispozici malé občerstvení, teplé a studené nápoje. Dále je zde možnost ohřát si vámi donesené jídlo nebo se domluvit na společné dovážce oběda. Celý průběh kurzu bude samozřejmě přizpůsoben stavu těhotenství a možnostem celé skupiny.
        </p>
        <p>
            Kurz se bude konat v maximálním počtu 6ti žen, abychom se mohly každé z vás věnovat a odpovědět na vaše otázky.
        </p>
        <p class="highlight">
            <span class="italic">"Úplně se mi rozplynuly veškeré mé obavy, které jsem bohužel díky zkušenostem s prvním dítkem měla."</span> Nikola S.
        </p>
    </div>
    
    <div class="section-part">
        <h2>
            Kdy a kde:
        </h2>
        <p>
            Kurzy pořádáme jednou za měsíc v centru <a class="link-inline" href="https://www.facebook.com/profile.php?id=100093193958476"> Spolu v Harmonii</a>, Lomená 45, Most. Pro případný přesný termín nás kontaktujte.
        </p>
        <p class="highlight">
            <span class="italic">"Jsem si daleko jistější tím, co přijde po porodu, případně přesně vím, na koho se obrátit v případě jakéhokoli problému."</span> Kačka S. 
            
        </p>
    </div>

    <div class="section-part">
        <h2>
            Cena:<br>
            1.990,-
        </h2>
        <p>
            Tento kurz je možné si nechat proplatit vaší pojišťovnou.
        </p>
        <p>
            Díky absolvování toho kurzu automaticky získáváte slevu 15 % na naše služby.
        </p>
        <p class="highlight">
            <span class="italic">"Bože bylo to fakt super, tak strašně moc se díky tomu těším na další mimi."</span> Eliška H. 
        </p>
    </div>
</div>


{% include 'partials/footer.njk' %}

</body>