html {
    box-sizing: border-box;
  }

  
  *, ::before, ::after {
    box-sizing: inherit;
  }

body {
    text-align: center;
    background-color: #f4d0d0;
    font-family: 'Barlow Condensed', sans-serif;
    color: black;
}

p {
    font-size: max(1rem, 2vw);
}


.wrap {
    padding-inline: 10vw;
    display: grid;
    align-content: center;
    min-height: 100dvh;
}

.title {
    font-size: max(2rem, 6vw);
    font-weight: 300;
    margin-block: 1.5rem;
}



/* hero-logo */
.hero-logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    align-items: center;
    justify-items: center;
    gap: 2vw;
}

.hero-logo img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.hero-logo__code {
    width: max(120px,15vw);
    height: max(120px,15vw);
}

.hero-logo__logo {
    width: max(200px,20vw);
    height: max(200px,20vw);
    grid-row: 1;
    grid-column: 1/span2;
}

.links {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.links__text {
    font-size: max(1.1rem, 2.5vw);
}


@media screen and (min-width: 600px) {
    .hero-logo {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero-logo__logo {
        grid-row: auto;
        grid-column: auto;
    }

    .links {
        grid-template-columns: repeat(3, 1fr);
    }

}

a {
    text-decoration: none;
    color: black;
}