html {
    box-sizing: border-box;
  }

  
  *, ::before, ::after {
    box-sizing: inherit;
  }

body {
    text-align: center;
    background-color: #f4d0d0;
    font-family: 'Barlow Condensed', sans-serif;
    color: black;
    font-weight: 300;
}

p {
    font-size: max(1rem, 2vw);
    margin-top: 4vh;
    margin-bottom: 0;
}


.wrap {
    
    display: grid;
    align-content: center;
    min-height: 100dvh;
    padding-block: 4vh;
}

.title {
    font-size: max(2rem, 6vw);
    font-weight: 200;
    margin: 0;
    
   
   
}



/* hero-logo */
.hero-logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    align-items: center;
    justify-items: center;
    gap: 2vw;
    margin-top: 4vh;
}

.hero-logo img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.hero-logo__code {
    width: max(120px,15vw);
    height: max(120px,15vw);
}

.hero-logo__logo {
    width: max(200px,20vw);
    height: max(200px,20vw);
    grid-row: 1;
    grid-column: 1/span2;
}

.links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    margin-top: 4vh;
}

.links__text {
    font-size: max(1rem, 2.5vw);
}


@media screen and (min-width: 600px) {
    .hero-logo {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero-logo__logo {
        grid-row: auto;
        grid-column: auto;
    }

    .links {
        grid-template-columns: repeat(3, 1fr);
    }

    .wrap {
        padding-inline: 10vw;
    }

}

@media screen and (max-width: 450px) {
    .links {
        grid-template-columns: 1fr;
        margin-top: auto;
    }
    .wrap {
        padding-block: 2px;
    }
}

.link {
    text-decoration: none;
    /* color: #723333; */
    color: black;
    /* font-weight: 400; */
    display: inline-block;
    

} 

.link-block {
    border: 1px solid #f4d0d0;
    padding: 0.3em;
    border-radius: 15px;
}

.link-block:hover {
    /* font-weight: 500; */
    border: 1px solid #e4b3b3;
    font-size: 0.98em;
}

.link-inline:hover {
    /* text-decoration: underline; */
    color: #723333;
    font-size: 0.9em;
    padding-inline: 0.221em;
}

.hero-logo__code img:hover {
    /* width: 105%;
    height: 105%; */
    border: 1px solid #e4b3b3;
}