/* html {
    box-sizing: border-box;
  }

  
  *, ::before, ::after {
    box-sizing: inherit;
  }

body {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    color: black;
    font-weight: 300;
    margin: 0px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
} */

/* .pink {
    background-color: #f4d0d0; 
} */

/* .content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    background-image: url(images/okraj-horni.svg), url(images/okraj-dolni.svg);
    background-size: 100%, 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom left;
    display: flex;
    flex-direction: column;
    justify-content:center;
} */


/* .menu {
    background-color: #f4d0d0;
    margin-bottom: -2px;
    position: fixed;
    top:0;
    z-index: 1;
    width: 100%;
} */
/* 
.menu__space {
    height: 50px;
    background-color: #f4d0d0;
} */

/* .menu__checkbox {
        position: absolute;
        left: -9999px;
    } */

/* .menu__toggler {
        cursor: pointer;
        font-size: 2.5rem;
        text-align: center;
        display: block;
    } */
 
/* .menu__box {
        display: none;
        margin: 0 auto;
        width: 50%;
    } */
        
/* .menu__item {
        display: block;
        padding: 0.5rem;
        border-radius: 10px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        color: black;
        font-size: max(1rem, 1.7vw);
    } */
        
/* .menu__item:hover {
    text-decoration: underline 1.2px;
}

.menu__checkbox:checked ~ .menu__box {
    display: block;
} */

/* @media screen and (min-width: 610px) {
    
    .menu__toggler {
            display: none;
    }

    .menu__box {
            display: flex !important;
            width: 100%;
            justify-content: space-around;
            min-height: 50px;
            align-items: end;
            align-items: center;
    }

 } */


/* .title {
    font-size: max(2rem, 5vw);
    font-weight: 200;
    margin-top: 3vw;
    margin-bottom: 1vW;
} */

/* h2 {
    font-size: max(1rem, 2vw);
    font-weight: 500;
} */

/* p {
    font-size: max(1rem, 1.7vw);
    margin-block: 1.5vh;
} */

/* a {
    font-size: max(1rem, 1.7vw);
} */

/* .italic {
    font-style: italic;
} */


.wrap {
    align-content: center;
    padding: 3vh 1.5vw 10vh;
}


.section-part {
    margin-bottom: 1em;
}

.highlight {
    color: #e89d9d;
    text-decoration: none;
}

.highlight-cite {
    
    font-style: italic;
}

/* .bold {
    font-weight: 500;
} */

.hero-logo img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}


.hero-logo__logo {
    width: max(300px,20vw);
    height: max(300px,20vw);
    margin: 5vh auto;
    /* grid-row: 1;
    grid-column: 1/span2; */
}

.hero-logo__small {
    width: clamp(100px,20vw, 200px);
    height: clamp(100px,20vw, 200px);
    margin:auto;
}


/* kontakty */
/* .contact__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap:2vw;
    margin-top: 4vh;
    align-items: center;
} */

/* .card {
    max-width: 400px;
    text-decoration: none;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.7em;
    padding: 0.7em;
    border-radius: 15px;
    border: 1px solid #e4b3b3;
    color: black;
    justify-self: center;

}

.card:hover {
    border-radius: 15px;
    box-shadow: 2px 2px 5px #e4b3b3;
    background-color: #f6dbdb;
    color: #723333;
}

.card-reverse {
    flex-direction: row-reverse;
}
.card__pic {
    flex: 0 1 40%;
 }

.card__pic img{
    width: clamp(90px, 100%, 250px);
    border-radius: 50%;
    border: 1px solid #e4b3b3;
 }

.card__text {
    margin: 0;
}

.social-media {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1em;
}

/* .mamila {
    display: block;
    width: clamp(100px, 10vw, 250px);
    margin: auto;
}

.mamila:hover {
    background-color: #f7e9e9;
    border-radius: 5px;
    border: 1px solid #e4b3b3;
}

.mamila__img {
    width: 100%;
}

.icon {
    width: max(40px, 5vw);
    height: max(40px, 5vw);
    justify-self: center;
    flex-grow: 0;
    display: block;
    color: #e89d9d;
    
}  */

.contact__grid a {
    font-size: max(1.5rem, 2vw);
}

/* .icon:hover {
    background-color: #f7e9e9;
    border-radius: 0.5vw;
} */

.link-block:hover {
    background-color: #f6dbdb;
    border: 1px solid #e4b3b3;
    
}




.navigation__item:hover {
    border: 1px solid #e4b3b3;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #e4b3b3;
    background-color: #f6dbdb;
}


/* .link-inline {
    color: #e89d9d;
}


.link-inline:hover {
    background-color: #f7e9e9;
    border-radius: 5px;
} */



/* .footer {
    height: 10dvh;
    background-color: #f4d0d0;
    display: flex;
    align-items: end;
    justify-content: end;
    background-image: url(images/prsa-vodorovne.svg);
    background-repeat: repeat-x;
    background-size: 400px;
    flex: none;
    margin-top: -2px;
}

.footer p{
    font-size: 0.8rem;
    margin: 0;
} */

@media screen and (min-width: 600px) {
    .hero-logo {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero-logo__logo {
        grid-row: auto;
        grid-column: auto;
    }

    /* .wrap {
        padding-inline: 5vw;
    }

    .contact__grid {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    .social-media, .location, .mamila {
        grid-column: span 2;
    }

    .card {
        flex-direction: column;
        max-width: 300px;
    } */
}

/* @media screen and (min-width: 900px) {
    .contact__grid {
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: auto auto auto;
        grid-auto-flow: dense;
    }

    .social-media {
        grid-column: 2;
        grid-row: 2;
    }

    .location {
        grid-column: 2;
        grid-row: 1;        
    }

    .mamila {
        grid-column: 2;
        grid-row: 3;        
    }

    .card {
        grid-row: span 3;
        align-self: auto;
    }
} */