---
layout: layouts/sablona-hlavni.njk
title: KojoRady - světový týden kojení na Hněvíně
description: V neděli 4.8.2024 pořádáme na hradě Hněvín oslavu světového dne kojení s přednáškami které s kojením, péčí o dítě a matku, rodičovstvím a mateřstvím souvisí.
og-description: V neděli 4.8.2024 pořádáme na hradě Hněvín oslavu světového dne kojení.
---

<body>

{% include 'partials/menu.njk' %}

    <div class="content">
        <h1 class="title">Světový týden kojení</h1>
        <p>
            První týden v srpnu vždy patří oslavám světového týdne kojení, pojďte s námi kojení oslavit.
        </p>
        <p  class="highlight bold">
            Přijďte v neděli 18. 8. 2024 od 9h na hrad Hněvín.
        </p>
        <p>
            Oslava světového týdne kojení je určena pro těhotné ženy, kojící ženy, ale i rodiny, které se o kojení a vztah s dítětem zajímají či zatím plánují rodinu. 
        </p>
        <p>
            Budete mít možnost poslechnout si mnoho přednášek, které s kojením, péčí o dítě a matku, rodičovstvím a mateřstvím souvisí. 
        </p>

        <p>
            Přehled přednášejících budeme postupně odtajňovat a jejich medailonky najdete na našich sociálních sítích a nebo na 
        </p>
        <p>
            <a href="http://svetovytydenkojeni.cz/" class="link-inline"  target="_blank">www.svetovytydenkojeni.cz</a>
        </p>
        <p>
            Po celou dobu vám bude k dispozici naše laktační poradna, děti mohou využít herní koutek s animátorkou a zahradu zaplní jarmark, o kterém se více dozvíte postupným odtajňováním.   
        </p>
    </div>


    <footer class="footer">
    <p>copyright: Tereza Beránková 2024</p>
    </footer>

    {% include 'partials/footer.njk' %}

</body>