---
layout: layouts/sablona-hlavni.njk
title: KojoRady - světový týden kojení
description: V neděli 4.8.2024 pořádáme na hradě Hněvín oslavu světového dne kojení s přednáškami které s kojením, péčí o dítě a matku, rodičovstvím a mateřstvím souvisí.
og-description: V neděli 4.8.2024 pořádáme na hradě Hněvín oslavu světového dne kojení.
---

<body>

{% include 'partials/menu.njk' %}

    <div class="content">
        <h1 class="title">Světový týden kojení</h1>
        <p>
            První týden v srpnu vždy patří oslavám světového týdne kojení, pojďte s námi kojení oslavit.
        </p>
        <p  class="highlight bold">
            Doražte v neděli 18. 8. 2024 od 9h na Hrad Hněvín. 
        </p>
        <p>
            Oslava světového týdne kojení je určena pro těhotné ženy, kojící ženy, ale i  rodiny, které se o kojení a vztah s dítětem zajímají či zatím plánují rodinu. 
        </p>
        <p>
            Budete mít možnost poslechnout si mnoho přednášek, které s kojením, 
            péčí o dítě a matku, rodičovstvím a mateřstvím souvisí.  
            Zajímá vás o jaké přednášky půjde? Více najdete na následujících stránkách:
        </p>
        <p>
            <a href="http://svetovytydenkojeni.cz/" class="link-inline"  target="_blank">www.svetovytydenkojeni.cz</a>
        </p>
        <p>
            Po celou dobu bude k dispozici naše mobilní laktační poradna. Pro děti bude připravený koutek se zábavným hraním.
            V prostorách hradní zahrady budou stánky.
        </p>
    </div>


    <footer class="footer">
    <p>copyright: Tereza Beránková 2024</p>
    </footer>

    {% include 'partials/footer.njk' %}

</body>