<div class="menu__wrap pink">

    <nav class="menu pink">
        <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
        <label for="menu-checkbox" class="menu__toggler">≡</label>

        <div class="menu__box pink">
            <a href="/" class="menu__item">Kojorady</a>
            <a href="/o-projektu/" class="menu__item">O projektu</a>
            <a href="/predporodni-priprava/" class="menu__item">Předporodní příprava</a>
            <a href="/podpurne-skupiny/" class="menu__item">Podpůrné skupiny</a>
            <!-- <a href="/svetovy-tyden-kojeni/" class="menu__item">Světový týden kojení</a> -->
            <a href="/kontakty/" class="menu__item">Kontakty</a>
        </div>
    </nav>

    <div class="menu__space"></div>
</div>